

<div class="sidebar">
    <div class="logo">
        <img src="/images/GlowSpace.png" alt="GlowSpace Logo">
    </div>
    <nav class="sidebar-nav">
        <a href="/admin/dashboard" class="sidebar-link"><i class="bi bi-grid"></i> Dashboard</a>
        <a href="/admin/profile" class="sidebar-link"><i class="bi bi-person"></i> Profile</a>
    </nav>
    <a href="/admin/logout" class="sidebar-button"><i class="bi bi-box-arrow-right"></i> Logout</a>
</div>
