<% if (typeof messages !== 'undefined') { %>
    <% if (messages.error && messages.error.length > 0) { %>
        <div class="flash-message flash-error"><%= messages.error %></div>
    <% } %>
    <% if (messages.success && messages.success.length > 0) { %>
        <div class="flash-message flash-success"><%= messages.success %></div>
    <% } %>
<% } %>